<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="judetSettings" type="SimpleConfig.SimpleConfigHandler, SimpleConfig"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%ndc] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="peco_log.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%ndc] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <judetSettings>
    <judete>
      <judet>Alba</judet>
      <judet>Arad</judet>
      <judet>Arges</judet>
      <judet>Bacau</judet>
      <judet>Bihor</judet>
      <judet>Bistrita Nasaud</judet>
      <judet>Botosani</judet>
      <judet>Braila</judet>
      <judet>Brasov</judet>
      <judet>Bucuresti</judet>
      <judet>Buzau</judet>
      <judet>Calarasi</judet>
      <judet>Caras Severin</judet>
      <judet>Cluj</judet>
      <judet>Constanta</judet>
      <judet>Covasna</judet>
      <judet>Dambovita</judet>
      <judet>Dolj</judet>
      <judet>Galati</judet>
      <judet>Giurgiu</judet>
      <judet>Gorj</judet>
      <judet>Harghita</judet>
      <judet>Hunedoara</judet>
      <judet>Ialomita</judet>
      <judet>Iasi</judet>
      <judet>Ilfov</judet>
      <judet>Maramures</judet>
      <judet>Mehedinti</judet>
      <judet>Mures</judet>
      <judet>Neamt</judet>
      <judet>Olt</judet>
      <judet>Prahova</judet>
      <judet>Salaj</judet>
      <judet>Satu Mare</judet>
      <judet>Sibiu</judet>
      <judet>Suceava</judet>
      <judet>Teleorman</judet>
      <judet>Timis</judet>
      <judet>Tulcea</judet>
      <judet>Valcea</judet>
      <judet>Vaslui</judet>
      <judet>Vrancea</judet>
    </judete>
  </judetSettings>
</configuration>